
@import "header";
@import "footer";
@import "sidebar";
@import "article";
@import "promo-box";

.padding-0{
  padding-right:0;
  padding-left:0;
}

#sidebar {
  background: #edf4f0;
}

.zen-resources{
  display: none;
}
/* high-res CSS */
@include media-query-high($on-laptop) {
  .site-header {
    height: 310px;
    border-top: solid 12px rgba(19, 67, 71, 0.8);
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
    align-items: center;
    text-align: left;
    &:before, &:after {
      display: block;
      content: " ";
      position: absolute;
      z-index: 3;
      top: 9px;
      left: 0;
      width: 100%;
      height: 7px;
      background: rgba(0, 39, 43, 0.2);
    }
    &:after {
      top: 306px;
      height: 4px;
      background: rgba(0, 39, 43, 0.075);
    }
  }
  .site-title{
    padding-left:10%;
  }

  .header-widgets {
    height: 310px;

    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 66.67%, rgba(0, 0, 0, 0.2) 66.67%, rgba(33, 84, 95, 0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(66.67%, rgba(255, 255, 255, 0)), color-stop(66.67%, rgba(33, 84, 95, 0.3)), color-stop(100%, rgba(33, 84, 95, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 66.67%, rgba(33, 84, 95, 0.3) 66.67%, rgba(33, 84, 95, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 66.67%, rgba(33, 84, 95, 0.3) 66.67%, rgba(33, 84, 95, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 66.67%, rgba(33, 84, 95, 0.3) 66.67%, rgba(33, 84, 95, 0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(33, 84, 95, 0.3) 0%, rgba(33, 84, 95, 0) 100%); /* W3C */
    & nav {
      display: block;
      position: absolute;
      top: 120px;
      width: 96%;
      right: 3%;
    }
    & li {
      margin: 0;
    }
    & .viewall a, & a::before {
      background: rgba(255, 255, 255, 0.1);
      text-decoration: none;
    }
    & .viewall a:hover, & a:hover::before {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .submenu {
    display: inline-flex;
  }

  h1 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 30px 0 5px 0;
  }
  h1::before {
    display: inline-block;
    position: relative;
    top: 65px;
    content: "";
    width: 125px;
    height: 125px;
    margin: -15px 40px 0 0;
    background: url(images/priroda1.svg);
    background-size: 100%;
    opacity: 0.6;

    -webkit-animation: koan 36000s infinite alternate;
    -moz-animation: koan 36000s infinite alternate;
    animation: koan 36000s infinite alternate;
  }
  h2 {
    display: block;
    margin: 0;
  }
  p {
    font-size: 1em;
  }

  /* main layout blocks */
  nav, .promo-box {
    display: inline;
  }
  .w3-article, .promo-box {
    float: left;
    clear: left;
    width: 100%;
    padding: 1em 5% 1em 10%;
  }
  .w3-article h3, .w3-article p,
  .promo-box h3, .promo-box p {
    width: 100%;
  }
  .w3-article {
    padding-top: 3.25em;
  }


  /* coloured cutoff */
  .promo-box {
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    margin: 0;
  }
  /* extra padding at the cutoffs */
  .promo-box {
    padding-top: 4em;
  }
  .w3-article, .promo-box {
    padding-bottom: 4em;
  }


  .w3-article h3, .promo-box h3 {
    margin-top: 1em;
  }
  .w3-article p:last-child, .promo-box p:last-child {
    margin-bottom: 0;
  }


  .footer-widgets p {
    padding-bottom: 3em;
    padding-top: 3em;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
  }


  #sidebar {
    order: 2;
  }
  /* sidebar styling */
  .sidebar {
    /*position: absolute;
    top: 360px;
    right: 0;
    width: 33.3%;*/
    padding: 40px 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent;
  }
  .sidebar li {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0 29.4% 0 14.7%; /* 0 10% 0 5% of total width */
  }


  /* select a design */
  .design-selection li:first-child {
    border-top: 0;
  }
  .design-selection li:hover, .design-selection li:focus {
    background: none;
  }
  .design-selection {
    & .design-name {
      text-align: left;
    }
  }

  /* resources navigation */
  .zen-resources {
    display: block;
    /*position: absolute;
    top: 1310px;
    right: 0;
    width: 34%;*/
    background: transparent;
  }
  .zen-resources h3 {
    display: none;
  }
  .zen-resources ul {
    width: 55.9%;
    margin: 10% 29.4% 10% 14.7%;
  }
  .zen-resources li {
    padding: 1.5em 0 1.25em 0;
    margin: 0;
  }
  /* page footer */
  footer a {
    width: 76px;
    height: 76px;
    padding: 76px 0 0 0;
    margin: 0 3em;
  }
  footer a::before {
    font-size: 72px;
  }
}


@-webkit-keyframes koan {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(3);
    opacity: 0;
  }
}
@-moz-keyframes koan {
  from {
    -moz-transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(3);
    opacity: 0;
  }
}
@keyframes koan {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

/* high-DPI adjustments */
@media
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3 / 2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {

  header {
    background-image: url(images/contours@2x.png), url(images/noise.png), url(images/gridlines.png), url(images/hovrino1.jpg);
    background-size: 50% auto, auto, auto, cover;
  }

  .footer-widgets p {
    background-image: url(images/contours@2x.png), url(images/gridlines.png), url(images/noise.png), url(images/ust-kamchatsk.jpg);
    background-size: 50% auto, auto, auto, cover;
  }

  /*
      This shouldn't be necessary, but it is. Due to differences in how
      Chrome calculates gradients and % widths / padding, the archives
      spill out of the visual container at some screen sizes.
  */
}

