<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author}}">
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="all">

    <link rel="stylesheet" media="screen" href="{{ site.baseurl}}/assets/design/normalize.css">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl}}/assets/design/bootstrap.css">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl}}/assets/design/kaskad.css">

    <!-- For old IEs -->
    <link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico" />
    <!-- For new browsers multisize ico  -->
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ site.baseurl}}/favicon.ico">
    <!-- Chrome for Android -->
    <link rel="icon" sizes="192x192" href="{{ site.baseurl}}/favicon-192.png">
    <!-- For iPhone 6+ downscaled for other devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl}}/favicon-180-precomposed.png">
    <!-- For IE10 Metro -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ site.baseurl}}/favicon-144-precomposed.png">
    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript">
        /***if ( document.domain.substring(0,4) != 'www.' ) {
            window.location = document.URL.replace("//","//www.");
        }*/
    </script>

</head>
