<div class="row site-header" role="banner">
    <div class="col-12 col-xl-8">
        <div class="site-title">
            <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
            <h2>{{ site.description }}</h2>
        </div>
    </div>
    <div class="col-12 col-xl-4 header-widgets">
        <nav>
            <ul>{% if page.previous %}
                <li class="previous">
                    <a href="{{ page.previous }}">
                        Назад <span class="indicator">&rsaquo;</span>
                    </a>
                </li>
                <li class="next">
                    <a href="{{ page.next }}">
                        Дальше <span class="indicator">&rsaquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="previous">
                    <a href="/rossiya/russkie_geografy/voeykov-ai">
                        Назад <span class="indicator">&rsaquo;</span>
                    </a>
                </li>
                <li class="next">
                    <a href="/rossiya/oshije_svedeniya/chto-takoe-klimat">
                        Дальше <span class="indicator">&rsaquo;</span>
                    </a>
                </li>
                {% endif %}
                <li class="viewall">
                    <a href="#" title="Все статьи">
                        Все статьи							</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
