{% for item in site.data.nav.menu %}
<li>
    <a href="{{ site.baseurl}}{{item.url}}" class="design-name">{{item.title}}</a>
    {% if item.sub %}
    {% for subitem in item.sub %}
    <span class="submenu"><a href="{{ site.baseurl}}{{ subitem.url }}" class="designer-name">{{ subitem.title }}</a>&nbsp;&middot;&nbsp;</span>
    {% endfor %}
    {% endif %}
</li>
{% endfor %}
