<aside class="sidebar">
    <div class="wrapper">

        <div class="design-selection" id="design-selection">
            <nav>
                <ul>
                    {% include nav.html %}
                </ul>
            </nav>
        </div>

        <div class="zen-resources" id="zen-resources">
            <ul>
                <li>
                    <a href="http://rpn.gov.ru/" title="Федеральная служба по надзору в сфере природопользования">РОСПРИРОДНАДЗОР</a>
                </li>
                <li>
                    <a href="http://www.gosnadzor.ru/" title="Ростехнадзор">Ростехнадзор</a>
                </li>
                <li class="zen-faq">
                    <a href="https://new.wwf.ru/" title="Всемирный фонд дикой природы">Всемирный фонд дикой природы</a>
                </li>
                <li class="zen-submit">
                    <a href="https://www.rknt.ru" title="Путешествия по России">Путешествия по России</a>
                </li>
                <!--<li class="zen-translations">
                    <a href="https://www.gosuslugi.ru/structure/10000002823" title="Федеральная служба по надзору в сфере природопользования">Федеральная служба по надзору в сфере природопользования</a>
                </li>-->
            </ul>
        </div>
    </div>
</aside>